<div class = "show-screen">

  <div class = "success-word">
    <%= flash[:notice] %>
  </div>

  <ul>
    <li class = "update-content"><b>Title:</b> <%= @book.title %></li>
    <li class = "update-content"><b>Body:</b> <%= @book.body %></li>
  </ul>


</div>



